.home-page-container{
    direction: rtl;
}
.add-movie-button{
    margin-top: 20px;
}
.home-page-container .container{
    max-width: 1700px;
}
.home-page-container .home-error-alert{
    direction: ltr;
}